<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Board Form</title>
<link rel="stylesheet" th:href="@{/css/base.css}" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" />

<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>

<script>
	function ajaxSuccessCallback(data){
		var socialTypeSplit = $("#socialTypeTmp").text().split(",");
	    
		$("#userTable > tbody").empty();
		var userList = data.userList;
		$.each(userList, function(index, value) {
			var tmpOpt = "";
			
			for (var i=0 ; i < socialTypeSplit.length ; i++){
				tmpOpt += "<option value=\"" + socialTypeSplit[i] + "\"";			
				tmpOpt += (socialTypeSplit[i] == value.socialType) ? " selected=\"selected\"" : "";				
				tmpOpt += ">" + socialTypeSplit[i] + "</option>";
			}
			
			var tmpRow = "<tr>";
			tmpRow += "<td>" + value.idx + "</td>";
			tmpRow += "<td>" + value.name + "</td>";
			tmpRow += "<td><select class=\"select\" name=\"selectsScialType\" id=\"selectsScialType\">";
			tmpRow += "<option>선택</option>";
			tmpRow += tmpOpt;
			tmpRow += "</select></td>";
			tmpRow += "<td>" + value.inputDate + "</td>";
			tmpRow += "<td>";
			tmpRow += "<button onclick=\"updateUser('userSave', '"+value.idx+"', $('#selectsScialType option:selected').val())\" class=\"btn btn-success btn-sm\">적용</button>&nbsp;";
			tmpRow += "<button onclick=\"updateUser('userDel', '"+value.idx+"')\" class=\"btn btn-danger btn-sm\">삭제</button></td>";
			tmpRow += "</tr>";
			$('#userTable > tbody:last').append(tmpRow);
		});
	}
	
	function updateUser(type, idx, socialType) {		
 		$("#idx").attr("value",idx); 		
 		$("#socialType").attr("value",socialType);
 		$("#usersForm").attr("action","/admin/" + type);
 		
 		alert($("#idx").attr("value") + '/' + $("#socialType").attr("value"));
 		
		$.ajax({
			contentType: "application/json",
			type : $("#usersForm").attr("method"),
			url : $("#usersForm").attr("action"),
			data : JSON.stringify($("#usersForm").serialize()),
			success :  function(data) {
				ajaxSuccessCallback(data);
			},
			error : function(data) {
				alert("error");
			}
		});
	}
	
	function getList() {
		$.ajax({
			url : "/admin/userList",
			type : "get",
			success :  function(data) {
				ajaxSuccessCallback(data);
			},
			error : function name() {
				$("#userListDiv").append("error");
			}
		});
	}

</script>
</head>
<body>

	<div th:replace="layout/header::header"></div>

	<div class="container">
		<div class="page-header">
			<h1>사용자 목록</h1>
		</div>

		<a href="javascript:getList()">search</a>

		<br /> <br /> <br />
		<div id="mainHide">
			<table id="userTable" class="table table-hover">
				<thead>
					<tr>
						<th class="col-md-2">#</th>
						<th class="col-md-2">이름</th>
						<th class="col-md-2">권한</th>
						<th class="col-md-2">등록일</th>
						<th class="col-md-2"></th>
					</tr>
				</thead>
				
				<form id="usersForm" action="/admin/userDel" method="post">
					<input type="hidden" id="idx" name="idx" value=""/>
					<input type="hidden" id="socialType" name="socialType" value=""/>
				</form>
				
				<tbody>
					<tr th:each="user : ${userList}">
						<td th:text="${user.idx}">1</td>
						<td th:text="${user.name}">tester</td>
						<td th:with="user_socialType_value=${user.socialType.value}">
							<select class="select" name="selectsScialType" id="selectsScialType">
								<option>선택</option>
								<option
									th:each="select : ${T(com.web.multifactor.oauth.SocialType).values()}"
									th:value="${select}"
									th:text="${select}"
									th:selected="${user_socialType_value} == ${select.value}"></option>
							</select>

						</td>
						<!--<td><a th:href="'/board?idx='+${user.idx}"	th:text="${user.name}"></a></td> -->
						<td th:text="${user.createdDate} ? ${#temporals.format(user.createdDate,'yyyy-MM-dd')} : ${user.createdDate}"></td>
						<td>
							<button th:onclick="'updateUser(\'userSave\', \'' + ${user.idx} + '\', $(\'#selectsScialType option:selected\').val());'" class="btn btn-success btn-sm">적용</button>
							<button th:onclick="'updateUser(\'userDel\', \'' + ${user.idx} + '\');'" class="btn btn-danger btn-sm">삭제</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br/>
		
<span id="socialTypeTmp" hidden="true">
	<th:block th:each="a, iterStat : ${T(com.web.multifactor.oauth.SocialType).values()}" th:text="!${iterStat.last} ? ${a} + ',': ${a}"/>
</span>
		<!-- Pagination -->
		<!--         <nav aria-label="Page navigation" style="text-align:center;"> -->
		<!--             <ul class="pagination" th:with="startNumber=${T(Math).floor(boardList.number/10)}*10+1, endNumber=(${boardList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${boardList.totalPages}"> -->
		<!--                 <li><a aria-label="Previous" href="/board/list?page=1">&laquo;</a></li> -->
		<!--                 <li th:style="${boardList.first} ? 'display:none'"> -->
		<!--                     <a th:href="@{/board/list(page=${boardList.number})}">&lsaquo;</a> -->
		<!--                 </li> -->

		<!--                 <li th:each="page :${#numbers.sequence(startNumber, endNumber)}" th:class="(${page} == ${boardList.number}+1) ? 'active'"> -->
		<!--                     <a th:href="@{/board/list(page=${page})}" th:text="${page}"><span class="sr-only"></span></a> -->
		<!--                 </li> -->

		<!--                 <li th:style="${boardList.last} ? 'display:none'"> -->
		<!--                     <a th:href="@{/board/list(page=${boardList.number}+2)}">&rsaquo;</a> -->
		<!--                 </li> -->
		<!--                 <li><a aria-label="Next" th:href="@{/board/list(page=${boardList.totalPages})}">&raquo;</a></li> -->
		<!--             </ul> -->
		<!--         </nav> -->
		<!-- /Pagination -->
	</div>

	<div th:replace="layout/footer::footer"></div>
</body>
</html>